@media (max-width: 1500px){

    .headerRight{
        width:55%;
    }

    .problem{
        font-size: 30px;
    }

    .problemText{
        font-size: 16px;
    }

    .actionButton{
        font-size: 24px;
    }

    .bodyRightHeader{
        font-size: 22px;
        margin-left: 10px;
        margin-right: 20px;
    }

    .bodyRightText{
        font-size: 15px;
        margin-left: 10px;
        margin-right: 20px;

    }

    .footer{
        height:8vw;
    }

    .footerLeftText{
        font-size: 20px;
    }

    .footerRight{
        width: 55%
    }

    .footerMenuItem{
        font-size: 14px;
        margin-top: 25px;
    }

    .copyright{
        font-size: 14px;
        margin-top: 25px;
    }
    

}

@media (max-width: 1200px){

    .header{
        height:5vw;
    }

    .headerLeft{
        margin-bottom: 1vw;
    }

    .headerRight{
        width:65%;
    }

    .problem{
        align-self: center;
    }


    .bodyRightText{
        font-size: 14px;
    }


}

@media (max-width: 992px){

    .App{
        min-height:100vh;
    }

    .headerIcon{
        height: 50px;
    }

    .headerText{
        font-size: 24px;
    }

    .headerMenuItem{
        font-size: 16px;
    }

    .body{
        width:85%;
    }

    .bigIcon{
        height:150px;
        width:115px;
    }

    .googleIcon{
        width:200px;
        height:70px
    }

    .appleIcon{
        width:200px;
        height:240px
    }


    .bodyRight{
        width:50%;
    }

    .bodyRightIcon{
        width:60px;
    }

    .footerIcon{
        width:35px;
        height:45px;
    }
   

}

@media (max-width: 768px){

    .header{
        margin-top: 2vw;
        width:85vw;
    }

    .headerRight{
        max-width: 55vw;
    }

    .headerMenuItem{
        font-size: 14px;
    }

    .body{
        width:95vw;
        padding-left: 5%;
    }

    .bodyLeft{
        width:45%;
        /* background-color: salmon; */
    }

    .bodyRight{
        padding-left: 8%;
        /* background-color: lime; */
    }

    .problem{
        font-size: 30px;
    }


    .googleIcon{
        width:190px;
        height:60px
    }

    .appleIcon{
        width:190px;
        height:210px
    }


    .footer{
        height:fit-content
    }

    .footerIcon{
        width: 30px;
        height:40px;
    }

    .footerLeftText{
        font-size: 18px;
    }

    .footerRight{
        width:65%;
        padding-right: 5vw;
    }

    .footerMenuItem{
        font-size: 12px;
    }

    .copyright{
        font-size: 12px;
    }
}

@media (max-width: 576px){

    .App{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }

    .header{
        margin-top: 2.5vh;
        margin-bottom: 2vh;
        padding-top: 1vh;
    }

    .headerRight{
        display:none;
    }

    .headerMenuItem{
        align-self: center;
    }

    .mobileMenu{
        height:50px;
        width:50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .menuBox{
        height: 7.5px;
        width:40px;
        background-color: rgb(27, 219, 253);
    }

    .headerRightMobile{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: solid;
        border-width: 0px;
        border-top-width: 1px;
        /* border-width: 1px; */
        width:85%;

        /* background-color: lightgreen; */
    }

    .divider{
        display:none;
    }

    .body{
        width:80vw;
        padding-left: 0%;
    }


    .bodyLeft{
        display:none;
    }
    .bodyRight{
        display:none;
    }

    .bodyMobile{
        display:flex;
        height:fit-content;
        flex-direction: column;
        align-items: center;
        margin-top: 3.5vh;
        margin-bottom: 2.5vh;
    }

    .bodyLeftMobile{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .googleIcon{
        width:175px;
        height:60px
    }

    .appleIcon{
        width:175px;
        height:210px
    }

    .bodyRightMobile{
        margin-top: -3vh;
        padding-left: 10vw;
    }

    .bodyRightHeader{
        justify-self: center;
    }

    .footer{
        height:fit-content;
        margin-top: 475px;
    }

    .footerLeft{
        padding-left: 5vw;
    }

    .footerRight{
        padding-right: 2.5vw;
        width:65%;
    }


    .footerMenuItem{
        align-self: center;
        font-size: 10px;
    }

    .copyright{
        font-size: 10px;
        align-self: center;
    }

}
